{% extends "base.html" %}

{% block extra-head %}
	<script type="text/javascript" charset="utf-8">
	$(document).ready(function(){
		$("#id_email")[0].focus();
	})
	</script>
{% endblock %}

{% block content %}

{% include "leftcolumnsanta.html" %}

<div class="rightcolumn">
	<form action="" method="POST">
		<ul id="startform" class="form biginputs">
		{{ startform.as_ul }}			
		<li>
			<input type="submit" value="Go">
		</li>
		<li style="margin-top:10px">
			or <a class="effect" href="{% url register %}">Start your own Secret Santa group</a>
		</li>
		</ul>
	</form>
</div>

{% endblock %}