{% extends "base.html" %}

{% block header %}
<div class="login-header">
	&nbsp;
</div>
{% endblock %}

{% block content %}

{% include "leftcolumnsanta.html" %}

<div class="rightcolumn">

	<form method="post" action="">
		<ul id="loginform" class="biginputs form">
			<h2><a href="{% url register %}" class="effect">Sign Up</a></h2>	
			<h2>or Sign In:</h2>			
			{% if form.errors %}
			<li>Your username and password didn't match. Please try again.</li>
			{% endif %}
			
			<li><label>Email</label>
			{{ form.username }}</li>
			<li><label>Password</label>
			{{ form.password }}</li>
			{{ form.next }}
			<li><input type="submit" value="Log in" /></li>
		</ul>
	<input type="hidden" name="next" value="{{ next }}" />
	</form>
</div>

{% endblock %}